* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-light);
    color: var(--color-text-main);
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}